.movieIdPage {
    padding: 20px;
}

.movieDetails {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
}

.moviePoster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movieInfo {
    display: grid;
    gap: 10px;
}

.movie-plot,
.movie-comments {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .movieDetails {
        grid-template-columns: 1fr;
    }

    .moviePoster {
        margin-bottom: 20px;
    }

    .movieInfo {
        text-align: center;
    }
}
