.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}

button {
    grid-column: span 2;
    justify-self: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 14px;
}
