.comment {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.userIcon {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 50%; /* To make it circular if necessary */
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
}

.email {
    color: #666;
    font-size: 12px;
    margin-left: 5px;
}

.body {
    grid-column: 1 / -1;
}

@media screen and (max-width: 640px) {
    .comment {
        grid-template-columns: 30px 1fr;
    }
}
